{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">
    <h1>Le shop</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad aut cupiditate, distinctio doloremque illo libero
        maiores molestiae molestias natus nihil nobis officiis quaerat quam quis soluta tempora veniam, voluptates!</p>
</div>
{% endblock %}