{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Editer</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        <bouton class="btn btn-primary">Editer</bouton>
        {{ form_end(form) }}
    </div>
{% endblock %}