{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-5">Créer une annonce</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary mb-5">Créer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}