{% extends 'base.html.twig' %}

{% block title 'Y-ah' %}
{% block body %}
<div class="jumbotron text-center">
    <h1>Y-ah.store</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam aspernatur atque
        doloribus earum eligendi enim, expedita fugit iste itaque laborum libero nobis numquam quos tempora unde voluptatem voluptates!</p>
</div>
{% endblock %}